{% extends 'base.html' %}

{% block title %}
    {{ task.title }}
{% endblock %}

{% block content_title %}
    {{ task.title }}

<!--    <span class="badge badge-pill badge-dark">{{ created }}</span>-->

{% endblock %}

{% block content %}
    <div> created: {{ created }}</div>
    <div>_____________________________</div>
     <div>body: {{ task.body }} </div>
    <div class="tags">
        {% for tag in tags %}
        <a href="{{ url_for('tasks.tag_detail', slug=tag.slug) }}">
            <span class="badge badge-primary">{{ tag.name }}</span>
        </a>
        {% endfor %}
    </div>
    <div class="main-content"></div>
{% endblock %}
